body{
    background-color: #505050;
    color: #dadada;
    text-align: center;
}
button{
    color: #dadada;
    background-color: inherit;
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px;
    border: 2px solid #dadada;
    border-radius: 10px;
}
input{
    padding: 10px;
    border: 2px solid #dadada;
    background-color: inherit;
    color: #dadada;
    border-radius: 10px;
}
#add{
    border:2px solid #dadada;
    text-align: center;
}
#teams{
    border: 2px solid #dadada;
    text-align: center;
    width: 50%;
}
#players{
    border: 2px solid #dadada;
    text-align: center;
    width: 50%;
}
#wrapper{
    display: flex;
    width: 100%;
}
.player{
    font: 1.25rem;
    border: 1px solid #dadada;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}